.zona{
    background-image: url(/HeaderLogo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    background-color: #1f1f1f;
}

.card{
    color: white;
    background-color: black;
}